<header>
    <img 
    src="assets/hero.png" 
    alt="Moacir Mariz - Profile Picture"
    loading="eager">
    <h1 contenteditable>Moacir  Mariz</h1>
</header>

<aside>
    <div class="container-fluid">
        <p> Java Script | <span class="fadeIn">Angular</span> | NodeJs | <span class="fadeIn">Bootstrap</span> </p>
        <p> Fortaleza  - Brazil</p>
        <p>Junior Front-End Developer</p>
        <p><span class="slideInLeft"> Know how to build high-value functionalities and fully responsible designs for your product.</span><span class="slideInRight"> I'm passionate about improving the lives of others through my work.</span>Constantly looking to improve myself and learning new skills. Let's build something together!</p>
        <nav>
            <ul>
                <li class="btn">
                    <a href="https://github.com/MoaMariz" target="_blank" class="btn-primary">GitHub</a>
                </li>   
                <li class="btn">
                    <a href="https://www.linkedin.com/in/moacirmariz/" target="_blank" class="btn-primary wiggle">LinkedIn</a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img 
                src="assets/whatsapp.svg" 
                alt="Whatsapp Icon"
                width="22px"
                height="24px">
                <figcaption>
                    <a 
                    href="#botar link do whatsapp aqui"
                    target="_blank"
                        >
                        <strong>Send me a message!</strong>
                        <p>(+55) 85 99841-9064</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img 
                src="assets/gmail.svg" 
                alt="Gmail Icon"
                width="22px"
                height="24px">
                <figcaption>
                    <a 
                    href="mailto:moacirbmariz@gmail.com"
                    target="_blank"
                        >
                        <strong>Send me an email!</strong>
                        <p>moacirbmariz&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>
