<div class="container-fluid">
    <h1>Recent Projects</h1>
</div>
<div class="options">
    <div class="option active" Directive style="background-image: url(assets/images/psn-store.png)">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <img src="assets/icons/angular.svg" alt="">
            </div>
            <div class="info">
                <div class="main">PSN Store Clone</div>
                <div class="sub">Card elements built with dynamic interpolation </div>
            </div>
        </div>
    </div>
    <div class="option" Directive style="background-image: url(assets/images/buzzfeed.png)">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <img src="assets/icons/angular.svg" alt="">
            </div>
            <div class="info">
                <div class="main">BuzzFeed Quizz</div>
                <div class="sub">Using a JSON file to build a functional quizz </div>
            </div>
        </div>
    </div>
    <div class="option" Directive style="background-image: url(assets/images/hbo-max.png)">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <img src="assets/icons/html-5.svg" alt="">
            </div>
            <div class="info">
                <div class="main">HBO Clone</div>
                <div class="sub">Built with Pure HTML / CSS with lots of transitions</div>
            </div>
        </div>
    </div>
    <div class="option" Directive style="background-image: url(assets/images/coffee-lp.png)">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <img src="assets/icons/bootstrap.svg" alt="">
            </div>
            <div class="info">
                <div class="main">Fully responsive Landing Page</div>
                <div class="sub">Using Bootstrap / NodeJS / SasS</div>
            </div>
        </div>
    </div>
    <div class="option" Directive style="background-image: url(https://images.unsplash.com/photo-1496753480864-3e588e0269b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80)">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <div class="info">
                <div class="main">ASASASas</div>
                <div class="sub">asasasasasasa</div>
            </div>
        </div>
    </div>
</div>