:root
{
    --skin-color:#ec1839;
    --skin-color2:#fa5b0f;
    --skin-color3:#2C3E50;
    --skin-color4:#4CA1AF;
    --skin-color5:#1854b4;
    --bg-black-900:#020202;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}
