<section class="container-fluid">
    <div class="row">
        <div class="education padd-15">
            <h3 class="title">Education</h3>
            <div class="row">
                <div class="timeline-box padd-15">
                    <div class="timeline shadow-dark">
                        <!--  ==== timeline item ==== -->
                        <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                            <i class="fa fa-calendar"></i> 2021-2022
                            </h3>
                            <h4 class="timeline-title">Postgraduate in Real State and Notary Law</h4>
                            <p class="timeline-text"> Online Postgraduate degree through ESA-OAB.
    
                            </p>
                        </div>
                        <!--  ==== timeline item ==== -->
                        <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                                <i class="fa fa-calendar"></i> 2018-2020
                            </h3>
                            <h4 class="timeline-title">Bachelor in Law</h4>
                            <p class="timeline-text">Graduated in Law at the Univerisdade de Fortaleza - UNIFOR.</p>
                        </div>
                        <!--  ==== timeline item ==== -->
                        <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                                <i class="fa fa-calendar"></i> 2014-2015
                            </h3>
                            <h4 class="timeline-title">Bachelor in International Management</h4>
                            <p class="timeline-text">Double-degree programm had in Germany, at the Technische Hoschule Deggendorf.</p>
                        </div>
                        <!--  ==== timeline item ==== -->
                        <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                                <i class="fa fa-calendar"></i> 2013-2016
                            </h3>
                            <h4 class="timeline-title">Bachelor in Foreign Tade</h4>
                            <p class="timeline-text">Graduated in Foreign Trade at the Univerisdade de Fortaleza - UNIFOR.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="experience padd-15">
            <h3 class="title">Experience</h3>
            <div class="row">
                <div class="timeline-box padd-15">
                    <div class="timeline shadow-dark">
                        <!--  ==== timeline item ==== -->
                        <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                            <i class="fa fa-calendar"></i> 2020 - Present
                            </h3>
                            <h4 class="timeline-title">Lawyer - Mariz Albuquerque e Freitas Advogados</h4>
                            <p class="timeline-text">Currently working as a full-time Lawyer at my own office. Specialized at Real State Law.
                            </p>
                        </div>
                        <!--  ==== timeline item ==== -->
                        <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                                <i class="fa fa-calendar"></i> 2018-2020
                            </h3>
                            <h4 class="timeline-title">
                                Trainee - PGFN</h4>
                            <p class="timeline-text">Worked as a Trainee for the governmental buerau in charge of legally prosecuting debt-owner tax payers.</p>
                        </div>
                        <!--  ==== timeline item ==== -->
                        <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                                <i class="fa fa-calendar"></i> 2016-2018
                            </h3>
                            <h4 class="timeline-title">Imports Analyst - JM Serviços Aduaneiros</h4>
                            <p class="timeline-text">Worked as a Imports Analyst, beeing in charge of handling the deliver of imported cargo with the foreign suppliers and processing it through brazilian customs.</p>
                        </div>
                        <!--  ==== timeline item ==== -->
                        <div class="timeline-item">
                            <div class="circle-dot"></div>
                            <h3 class="timeline-date">
                                <i class="fa fa-calendar"></i> 2013-2014
                            </h3>
                            <h4 class="timeline-title">Trainee - XM Comex</h4>
                            <p class="timeline-text">Worked as a Trainee for a Trading Company, handling negotiations with foreign buyers and suppliers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
